<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Registro</title>
</head>

<body>
    <header>
        <div class="top-header">
            <img class="logo" src="/images/logo-mercado-liebre.svg">
            <form class="search-section">
                <input class="search-bar" type="text" placeholder="Buscar productos, marcas">
                <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="copy-header"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito</div>
        </div>

        <div class="burger-menu">
            <button class="hamburguer-button"><i class="fas fa-bars"></i></button>
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="http://localhost:3003/register">Creá tu cuenta <i class="fa-regular fa-id-card"> </i></a></li>
                <li><a href="http://localhost:3003/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>

        </nav>
        
    </header>

    <main class="register">
        <form action="/" class="form-register">
            <div class="control-register-form">
                <label class="title-register">Nombre y apellido</label>
                <input class="subcontrol-register-form" type="text" name="name-lastname" placeholder="Juana Perez" required>
            </div>
            <div class="control-register-form">
                <label class="title-register">Nombre de usuari@</label>
                <input class="subcontrol-register-form" type="text" name="user-name" placeholder="Juani.Perez" required>
            </div>
            <div class="control-register-form">
                <label class="title-register">E-mail</label>
                <input class="subcontrol-register-form" type="email" name="email" placeholder="juana@email.com" required>
            </div>
            <div class="control-register-form">
                <label class="title-register">Fecha de nacimiento</label>
                <input class="subcontrol-register-form" type="date" name="birth" required>
            </div>
            <div class="control-register-form">
                <label class="title-register">Domicilio</label>
                <input class="subcontrol-register-form" type="text" name="adress" placeholder="Av. Rivadavia 456" required>
            </div>
            <div class="control-register-form ">
                <label class="title-register">Perfil de usuari@</label>
                <div class="user-category">
                    <label><input class="subcontrol-register-form" type="radio" name="profile">Comprador</label>
                    <label><input class="subcontrol-register-form" type="radio" name="profile">Vendedor</label>
                </div>
            </div>
            <div class="control-register-form">
                <label class="title-register">Categorías de interés</label>
                <div class="checkbox-category">

                    <label><input class="subcontrol-register-form check" type="checkbox" name="user-interest">Electro</label>
                    <label><input class="subcontrol-register-form check" type="checkbox" name="user-interest">Moda</label>
                    <label><input class="subcontrol-register-form check" type="checkbox" name="user-interest">Hogar</label>
                    <label><input class="subcontrol-register-form check" type="checkbox"
                            name="user-interest">Jugueteria</label>
                    <label><input class="subcontrol-register-form check" type="checkbox" name="user-interest">Vida
                        Sana</label>
                </div>
            </div>
            <div class="control-register-form">
                <label class="title-register">Foto de perfil</label>
                <input type="file" accept=".jpg, .png" value="Subir foto">
            </div>
            <div class="control-register-form">
                <label class="title-register">Contraseña</label>
                <input class="subcontrol-register-form" type="password" name="password">
                <br>
                <label class="title-register">Confirmar contraseña</label>
                <input class="subcontrol-register-form" type="password" name="confirm-password">
            </div>
            <div class="button-send-reset-register">
                <input class="reset-button" type="reset" value="Borrar">
                <input class="submit-button" type="submit" value="Enviar" action="/home.html">
            </div>
            </div>

        </form>
    </main>

    <footer>
        <section class="footer-content">
            <div class="footer-wrap">
                <i class="fa-solid fa-credit-card footer-icon"></i>
                <p class="footer-title"><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p class="footer-description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                    en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </div>
            <div class="footer-wrap">
                <i class="fa-solid fa-gift footer-icon"></i>
                <p class="footer-title"><strong>Envío gratis desde $ 2.500</strong></p>
                <p class="footer-description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                    de
                    productos. Es un beneficio de
                    Mercado Puntos.</p>
            </div>
            <div class="footer-wrap">
                <i class="fa-solid fa-user-shield footer-icon"></i>
                <p class="footer-title"><strong>Seguridad, de principio a fin</strong></p>
                <p class="footer-description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                    hacer,
                    porque estás siempre
                    protegid@.</p>
            </div>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>