.form-register {
    padding: 20px;
    width: 100%
}

.control-register-form {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
} 

.checkbox-category{
    display: flex;
    flex-direction: column;
}
.control-register-form label {
    margin-bottom: 10px;
}

.control-register-form input {
    border: none;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 3px;
}

.title-register {
    font-weight: 600;
}

.reset-button,
.submit-button {
    margin: 20px 0;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

.reset-button {
    background-color: #666;
}

.submit-button {
    background-color: #1259c3;
}